<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AutoAnalyticsServer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <style>

        .top-buffer {
            margin-top: 20px;
            text-align: center;
        }

        h1 {
            display: block;
            text-align: center;
        }

        h3, .all {
            padding: 10px;
            margin: 0px 0;
            text-align: center;
            font-size: 16px;
        }

        .all {
            background: #9BABB1;
            width: 50%;
            border-radius: 10px;
            margin-top: 0px;
            display: block;
            position: relative;
            left: 25%;
        }

        .pd {
            margin: .3% 0;
        }

        select, option {
            width: 70%;
            height: 25px;
            text-align: center;
        }

        table {
            width: 93%;
        }

        .border-top footer text-muted {
            margin-top: 20px;
            text-align: center;
        }

        .container {
            text-align: center;
            margin-top: 20px;
        }
    </style>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">car analytics</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Instruction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Privacy</a>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    @RenderSection("Scripts", required: false)
</body>
</html>
