<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AutoAnalyticsServer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @* header *@

    <nav class="navbar navbar-expand-sm">
        <a class="navbar-brand" href="/">Авто аналитика</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
                aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home/instruction">Инструкция</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/privacy">Конфиденциальность</a>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    @RenderSection("Scripts", required: false)
</body>
</html>
