@{
    ViewData["Title"] = "Аналитика авто";
}

<div>
    <a>Группа деталей</a>
    <br />
    <select id="group_lb">
        <option></option>
    </select>
</div>
<div>
    <a>Подгруппа деталей</a>
    <br />
    <select disabled id="subgroup_lb">
    </select>
</div>
<div>
    <a>Деталь</a>
    <br />
    <select disabled id="detail_lb">
    </select>
</div>

<br />
<button id="select_detail_btn" type="button" class="btn btn-success">Выбрать</button>
<br />

<br />
<h3>Выбранные детали:</h3>
<br />

<table id="selected_details_table" class="table table-bordered table-striped mb-0">
    <thead>
        <tr>
            <th scope="col">Группа</th>
            <th scope="col">Подгруппа</th>
            <th scope="col">Деталь</th>
        </tr>
    </thead>
    <tbody class="results"> 
    </tbody>
</table>

<br />
<h3>Рекомендуемые к проверке детали:</h3>
<br />

<table id="recommendations_table" class="table table-bordered table-striped mb-0">
    <thead>
        <tr>
            <th scope="col">Группа</th>
            <th scope="col">Подгруппа</th>
            <th scope="col">Деталь</th>
            <th scope="col">Достоверность</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - AutoAnalyticsServer - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>


<script src="~/js/detail_api_scripts.js" asp-append-version="true"></script>

<script>
        $(document).ready(function () {

            //load details
            reloadGroups();

            //set event: select detail click
            $(select_detail_btn).on('click', function (e) {
                let selectedGroup = $(group_lb).val();
                let selectedSubgroup = $(subgroup_lb).val();
                let selectedDetail = $(detail_lb).val();
                let table = document.getElementById("selected_details_table");
                let hbody = table.getElementsByTagName('tbody')[0];
                //let trr = hbody.getElementsByTagName('tr')[0];
                //let thh = trr.getElementsByTagName('th')[0];
                //console.log(trr);       
                var isEmpty = $('.results').text().trim() === '';
                console.log(isEmpty);

                //console.log(hbody);
                addSelectedDetail(selectedGroup, selectedSubgroup, selectedDetail);
            });

            //set event: if we chose another group
            $(group_lb).on('change', function (e) {

                let selectedGroup = $(group_lb).val();

                reloadSubgroups(selectedGroup);

                //set subgroup selection enabled
                $(subgroup_lb).prop("disabled", false);

                //disable detail selection and remove text
                $(detail_lb).prop("disabled", true);
                $(detail_lb).text("");
            });

            //set event: if we chose another subgroup
            $(subgroup_lb).on('change', function (e) {

                //set subgroup selection enabled
                $(detail_lb).prop("disabled", false);

                let selectedGroup = $(group_lb).val();

                let selectedSubgroup = $(subgroup_lb).val();

                reloadDetails(selectedGroup, selectedSubgroup);
            });
        })

        function addSelectedDetail(group, subgroup, detail) {

            //check we are selected all items
            if (group != null && subgroup != null && detail != null) {
                //if()
                $('#selected_details_table > tbody:last-child').append('<tr><th>'
                    + group
                    + '</th><td>'
                    + subgroup
                    + '</td><td>'
                    + detail
                    + '</td></tr>');

                addRecommendDetails(group, subgroup, detail);
            }
        }

        function checkContainsInSelectedtable(group, subgroup, detail) {
            //Проверяем, была ли данная деталь уже была выбрана ранее (содержится ли в таблице)
        }

</script>