
@{
    ViewData["Title"] = "Инструкция";
}

<h1>Инструкция</h1>

<h5>Надо бы красиво все тут оформить...</h5>

<h5>Сначала выбираем группу деталей, потом подгруппу, и нажимаем "Добавить". После этого, в списке выбранных
    деталей отобразится выбранная деталь, а в список рекомендаций добавится 1 или несколько деталей,
    которые согласно имеющимся ассоциативным правилам стоит проверить.</h5>
